@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Lato", sans-serif;
}

.deadline-skeleton-animation {
	animation: skeletonAnimation 300ms ease-in-out;
}

@keyframes skeletonAnimation {
	from {
		transform: scale(0.23);
	}
	to {
		transform: scale(1);
	}
}
