/* width */
::-webkit-scrollbar {
	width: 0.5rem;
	background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.2rem #00b87c;
	background: #00b87c;
	border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #00b87c;
	border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #00b87c;
}
