name: Reminders Deployment Pipeline

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ dev ]

  pull_request:
    branches: [ dev ]
    types: [ closed ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Exec remote commands via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTNAME }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd /var/www/zc_plugin_reminder/
            git pull
            yarn run holoInstall
            yarn run build
            pm2 restart reminders_plugin
